<!DOCTYPE html>
<html>
<head>
  <title>FoShizzle</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./application.css" rel="stylesheets" />
</head>
<body>

  <% if current_user %>
    <%= link_to 'Home', '/' %> | Logged in as <%= current_user.name %> | <%= link_to 'Logout', '/logout' %> | <%= link_to 'Edit', '/edituser' %>
  <% else %>
    <%= link_to 'Home', '/' %> | <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>
  <%= yield %>
  <%= javascript_include_tag 'application', async: true %>

</body>
</html>
